
.header{
	background: #333;
	color: white;
	padding: 1rem 0;

	top: 0;
	left: 0;
	right: 0;
}
.header a{
	color: white;
	text-decoration: none;
}

.footer{
	background: #333;
	padding: 0.70rem;
	text-align: center;
	margin-top: 5rem;
	color: white;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}

#titulo{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    height: 80px;
    color: white;
    padding: 15px 40px !important;
}

body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    /*background:#8ba987 url('E:/React/aprendiendoreact/src/imagenes/fondo.jpg') no-repeat center center fixed;*/
    background-color: white;
    background-size:100% 100%;
}

#form1{

    font-size: 22px;
    padding: 60px;
    line-height: 50px;
}
#desc1{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    resize: none;
    border-color: black;
}
#desc2{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    resize: none;
    border-color: black;
}

input[type="file"]#img_subida {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

    right: 70px;
	top: 250px;
}
   
label[for="img_subida"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    opacity: 0.8;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
   
    border-radius: 20px;

    right: 250px;
    top: 600px;
    line-height: 15px;
}
   
input[type="submit"]#btmRegistrar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;

    right: 45%;
    top: 800px;
}
   
label[for="btmRegistrar"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    opacity: 0.8;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;

    border-radius: 20px;

    right: 40%;
    top: 1000px;
    line-height: 15px;
}

#contenedor_img{
    border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
    height: 300px;
	width: 500px;
}

input[type="text"], input[type="number"],#tipo_P,textarea{
    font-size: 20px;
    border-radius: 10px;
    border-color: black;
}

#cmpPrecio{
    right: 200px;
	top: 700px;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navegacion ul{
	margin: 0;
	padding: 0;
    list-style: none;
}
.navegacion li{
	display: inline-block;
}
.navegacion ul li a{
	display: block;
	padding: 0.5rem 1.2rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}
.navegacion ul li a:hover{
	background: #ccc;
	color: black;
} 
.logo{
    font-size: 1.3em;
}

/*
    Intentando crear mis propios estilos para mejorar 
    la organizacion de los elemntos dentro el formulario
    @modificador: Nug
 */

.table_div{
    width: 100%;
    padding: 10px 50px;
}

.table_data {
    width: 100%;
    display: block;
    padding: 10px 50px;
    background-color: #ccc;
}

/* .table_data tbody tr td{
    width: 50%;
    padding: 50px 50px;
} */