body{
	font-family: sans-serif;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;
}
p{
	margin-bottom: 1.6em;
}
.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.header{
	background: #333;
	color: white;
	padding: 1rem 0;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}
.header a{
	color: white;
	text-decoration: none;
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navegacion ul{
	margin: 0;
	padding: 0;
    list-style: none;
}
.navegacion li{
	display: inline-block;
}
.navegacion ul li a{
	display: block;
	padding: 0.5rem 1.2rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}
.navegacion ul li a:hover{
	background: #ccc;
	color: black;
} 
.logo{
	font-size: 1.3em;
}
.footer{
	background: #333;
	padding: 0.70rem;
	text-align: center;
	margin-top: 5rem;
	color: white;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}
.main{
	padding-top: 8rem;
}