body{
	background-image: url(../images/fondoxd.jpg);
	font-family: sans-serif;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;
	margin: 0;
}
p{
	margin-bottom: 1.6em;
}
.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.usr{
	border-radius: 4px;
	transition: all 0.4s linear;
	color: rgb(81, 253, 1);
}
.header{
	background: #333;
	color: white;
	padding: 1rem;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.header a{
	color: white;
	text-decoration: none;
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
ul, ol{
	list-style: none;
}
.navegacion li a{
	text-decoration: none;
	padding: 0.5rem 1.7rem;
	border-radius: 4px;
	display: block;
	transition: all 0.4s linear;

}
.navegacion li a:hover{
	background: #ccc;
	color: black;
}
.navegacion > li{
	float:left;
}
.navegacion li ul{
	display:none;
	position: absolute;
	min-width: 140px;
}
.navegacion li:hover > ul{
	display: block;
	background-color: #333;
	border-radius: 4px;
}
/*.navegacion ul{
	margin: 0;
	padding: 0;
    list-style: none;
}
.navegacion li{
	display: inline-block;

}
.navegacion ul li a{
	display: block;
	padding: 0.5rem 1.7rem;
	border-radius: 4px;
}
.navegacion ul li a:hover{
	background: #ccc;
	color: black;
}
*/

@media only screen and (max-width: 845px){
	.navegacion{
		width: 100%;
		margin-top: 1rem;
		display: grid;
	}
	.navegacion li a{
		display: grid;
		padding: auto;
		border-radius: 4px;
		transition: all 0.4s linear;
	}
	.navegacion li ul{
		position: absolute;
		padding: 1rem 0.5rem;
		border-radius: 4px;
	}
	
}

.logo{
	font-size: 1.3em;
}
#fondo
{
	width: 100%;
	z-index: -10;
}

.footer{
	background: #333;
	padding: 0.6rem;
	text-align: center;
	margin-top: 0rem;
	color: white;
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
	bottom: 0;
	    
}
.main{
	padding-top: 8rem;
}