.card {
    color : white;
    height: 100%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right,rgb(30,30,30), rgb(150,150,150));
}

.Item-Card {
    height: 100%;
    max-height: 100%;
    max-width: 520px;
    min-width: 100px;
    min-height: 100px;
}
.Item-Card-Info {
    padding-left: 0;
    padding-right: 75px;
}
.Item-Card-Info h1{
    font-size: 23px;
    color: white;
}
.Item-Card-Info p{
    font-size: 11px;
    color: white;
}
.Item-Add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 60px;
}