
.tab_container {
    width: 80%;
    margin-top: 20px;
    white-space: initial;
    overflow: hidden;
}

.button_container {
    height: 15%;
    display: block;
}

.button_container button{
    display: block;
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: aliceblue;
    font-family: sans-serif;
    /*border: 30px solid #333;*/
}
/*Esto se agrego */
.button_selected button{
    display: block;
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #ccc;
    color: black;
    font-family: sans-serif;
    /*border: 5px solid #333;*/
}

.tab_container .button_container button:hover{
    background-color: rgb(150, 150, 150);
    color: black;
   
}

.tab_panel {
    display: block;
    background-color: #ccc;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
    min-height: 400px;
    font-family: sans-serif;
	color: black;
	font-size: 1.2rem;
    line-height: 1.6em;
    border: 3px solid #333;
    white-space: initial;
    word-break: break-word;
}

.set_button{
    
    position: relative;
    text-align: right;
    margin-right: 2%;
}
.set_button-precio{
    margin-left: 0%;
    position: relative;
    text-align: left;
    
}
.set_button1{   
    margin-left: 5%;   
    font-family: sans-serif;
	color: black;
	font-size: 1rem;
	line-height: 1.6em;
}
.set_button-precio .button_color label {     
    margin-left: 5%; 
    width: 5%;
    height: 60%;
    padding: 5px;
    background-color: rgb(0, 255, 0);
    font-family: sans-serif;
}
.set_button-precio .button_color1 label {     
    margin-left: 5%;
    width: 5%;
    height: 60%; 
    padding: 5px;
    background-color: rgb(255, 0, 0);
    font-family: sans-serif;
}

.set_stilos {
    font-family: sans-serif;
    font-size: medium;
    color: aliceblue;
}
.set_stilostitle {
    margin-left: 5%;   
    font-family: sans-serif;
	color: black;
	font-size: 1.2rem;
	line-height: 1.6em;
}
.image {
    max-width: 80%;
    max-height: 80%;
    
}
.set_stilos-panel{
    font-family: sans-serif;
	color: black;
	font-size: 1.2rem;
    line-height: 1.6em;
    text-align: left;
    white-space: initial;
    overflow: hidden;
}

#list
{
    width: 80%;
}
