
.tab_container {
    width: 80%;
    margin-top: 20px;
    min-height: 100%;
}

.button_container {
    height: 15%;
    display: block;
}

.button_container button{
    display: block;
    /* width: 30%; */
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: darkcyan;
}

.tab_container .button_container button:hover{
    background-color: rgb(0, 107, 107);
}

.tab_panel {
    display: block;
    background-color: silver;
    padding: 30px;
    box-sizing: border-box;
    text-align: left;
    min-height: 100%;
    margin-top: 36px;
}

.set_button{
    position: relative;
    text-align: right;
    margin-right: 2%;
}
.set_button .button_color label {     
    width: 5%;
    height: 60%;
    padding: 5px;
    background-color: rgb(0, 255, 0);
}
.set_button .button_color1 label {     
    width: 5%;
    height: 50%; 
    padding: 5px;
    background-color: rgb(255, 0, 0);
}

.set_stilos {
    font-family: Verdana;
    font-size: medium;
    font-style: oblique;
    color: aliceblue;
}
.set_stilostitle {
    margin-left: 2%;
    font-family: Verdana;
    font-size: 30px;
    font-style: oblique;
    color: black;
}

.image {
    max-width: 80%;
    max-height: 80%;
}
